<div class="event">
  <h5><%= link_to event.name, event_path(event) %></h5>
  <span class="date_start"><%= l event.date_start %></span><br/>
  <span class="date_end"><%= l event.date_end %></span><br/>
  <span class="category"><%= event.category.name unless event.category.nil? %></span><br/>
  <span class="location"><%= event.location %></span><br/>
</div>