<%= form_for(@event) do |f| %>
<% if @event.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@event.errors.count, 'error') %> prohibited this event from being saved:</h2>

  <ul>
    <% @event.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :description %>
  <%= f.text_area :description %>
</div>
<div class="field">
  <%= f.label :date_start %>
  <% if f.object.date_start.nil? then %>
  <%= f.text_field :date_start %>
  <% else %>
  <%= f.text_field :date_start, value: l(f.object.date_start) %>
  <% end %>
</div>
<div class="field">
  <%= f.label :date_end %>
  <% if f.object.date_end.nil? then %>
  <%= f.text_field :date_end %>
  <% else %>
  <%= f.text_field :date_end, value: l(f.object.date_end) %>
  <% end %>
</div>
<div class="field">
  <%= f.label :category_id %>
  <%= f.collection_select :category_id, @categories, :id, :name, {prompt: ' - '} %>
</div>

<div class="field">
  Ciudad del evento: <%= my_city(current_user) %><br/>
  <%= link_to 'Cambiar ciudad', root_path %>
</div>

<div class="field">
  <%= f.label :location %>
  <%= f.text_field :location %>
</div>

<div class="field">
  <%= f.file_field :image %>
  <img id='imagePreview' src='#' alt='Event image' />
</div>

<div class="actions">
  <%= f.submit %>
</div>
<% end %>

<script>

$(document).ready(function () {

  $('#event_date_start').datetimepicker({
    dateFormat: "dd/mm/yy",
    timeFormat: "HH:mm",
    onClose: function() {
      var date_end = $('#event_date_end').val();
      if(date_end.length != 0) {
        return;
      }

      var date_start = $('#event_date_start').val();
      $('#event_date_end').val(date_start);
    }
  });
  $('#event_date_end').datetimepicker({
    dateFormat: "dd/mm/yy",
    timeFormat: "HH:mm"
  });

  $('#country_select').change(function () {
    $.ajax({
      url: "<%= update_states_path %>",
      data: {
        country_id: $('#country_select').val()
      },
      dataType: 'script'
    });
    $('#state_select').removeAttr('disabled');
  });
  $('#state_select').change(function () {
    $.ajax({
      url: "<%= update_cities_path %>",
      data: {
        state_id: $('#state_select').val()
      },
      dataType: 'script'
    });
    $('#city_select').removeAttr('disabled');
  });

  $('#event_image').change(function(event) {
    var files = $('#event_image').prop('files');

    if (files && files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#imagePreview').attr('src', e.target.result).width(150).height(200);
      };

      reader.readAsDataURL(files[0]);
    };
  });

});
</script>