<div class="field">
  <%= f.label :country_select %>
  <%= collection_select nil, :country_id, @countries, :id, :name,
                        {prompt: ' - '}, {id: 'country_select', name: 'country_id'} %>
</div>
<div class="field">
  <%= f.label :state_select %>
  <%= collection_select nil, :state_id, @states, :id, :name,
                        {prompt: ' - '}, {id: 'state_select', name: 'state_id', disabled: 'disabled'} %>
</div>
<div class="field">
  <%= f.label :city_select %>
  <%= collection_select nil, :city_id, @cities, :id, :name,
                        {prompt: ' - '}, {id: 'city_select', name: 'city_id', disabled: 'disabled'} %>
</div>
