<h1>Mis eventos</h1>

<% if @events.count > 0 %>
    <ul class="list-events">
      <% @events.each do |event| %>

      <li>
        <%= link_to event.name, event_path(event) %>
      </li>

      <% end %>
    </ul>
<% else %>

    <h4>No estás siguiendo ningún evento</h4>

<% end %>

<h3>Eventos que te podrían interesar</h3>

<h5>Eventos en <%= current_user.city.name unless current_user.city.nil? %></h5>
<ul>
  <% @events_in_city.each do |event| %>

  <li>
  <%= link_to event.name, event_path(event) %>
    <%= event.date %>
  </li>

  <% end %>
</ul>
