<h1>Mis eventos</h1>

<% if @events.count > 0 %>

  <ul class='events-list'>
    <% @events.each do |event| %>

    <li>
      <div class='event container'>
        <div class='row'>

          <div class='span2 image'>
            <%= image_tag(event.image_url(:thumb), width: 100) if event.image? %>
          </div>
          <div class='span10'>
            <p class='title'>
              <%= link_to event.name, event %>
            </p>
            <p>
              <%= event.category.name unless event.category.nil? %>
            </p>
            <p>
              <%= event.date %>
            </p>
            <p>
              <%= event.location %>, <%= event.city_state %>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="span12 actions">
            <div class="pull-right">
              <%= link_to 'Editar', edit_event_path(event) %>
              <%= button_to 'Eliminar', event, method: :delete, confirm: 'Seguro que desea eliminar el evento?' %>
            </div>
          </div>
        </div>
      </div>
    </li>

    <% end %>
  </ul>

<% else %>

    <h4>No has publicado ningún evento</h4>
    <%= link_to 'Publicar uno', new_event_path %>

<% end %>