<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre del evento:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Inicio:</strong>
  <%= l @event.date_start %>
</p>

<p>
  <strong>Final:</strong>
  <%= l @event.date_end %>
</p>

<p>
  <strong>Categoría:</strong>
  <%= @event.category.name unless @event.category.nil? %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @event.city.name unless @event.city.nil? %>, <%= @event.city.state.name unless @event.city.state.nil? %>
</p>

<p>
  <strong>Ubicación:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Usuario que publicó:</strong>
  <%= @event.user.username unless @event.user.nil? %>
</p>

<p>
  <%= image_tag @event.image_url(:thumb) if @event.image? %>
</p>

<% if can? :update, @event %>
  <%= link_to 'Editar', edit_event_path(@event) %> |
<% end %>
<% if can? :follow, @event %>
  <%= link_to_follow(@event) %>
<% end %>
<% if current_user %>
  <%= link_to 'Ver mis eventos', events_path %> |
<% end %>
<%= link_to 'Regresar', root_path %>
