<h1>Index</h1>

<div class="container">

  <div class="row">
    <div class="span9">

      <div class="row span4">

        <% if @city_param %>
          <h3>Eventos próximos en <%= @city_param %></h3>
        <% else %>
          <h3>Eventos próximos</h3>
        <% end %>

        <ul>
          <% @events.each do |event| %>
          <li>
            <%= render 'events/details', event: event %>
          </li>
          <% end %>
        </ul>

      </div>
    </div>

    <div class="span3 sidebar">
      <section class="cities-list">
        <h5>Ciudades</h5>
        <ul>
          <% @cities_with_recent_events.each do |city| %>
          <li>
            <%= link_to city.name + ' (' + city.event_count.to_s + ' eventos)', root_with_city_path(city.name) %>
          </li>
          <% end %>
        </ul>
      </section>

      <section class="categories-list">
        <h5>Categorías</h5>
        <ul>
          <% @categories_with_recent_events.each do |category| %>
          <li>
            <%= link_to category.name + ' (' + category.event_count.to_s + ' eventos)', root_with_category_path(category.name) %>
          </li>
          <% end %>
        </ul>
      </section>
    </div>

  </div>

</div>