.events-list {
  list-style-type: none; }
  .events-list li {
    margin-bottom: 20px;
    padding: 0px; }
    .events-list li .event {
      border: 1px solid #cccccc;
      background-color: #efeff8;
      padding: 10px 0px 0 10px; }
      .events-list li .event p {
        line-height: 1em;
        margin-bottom: 5px; }
      .events-list li .event p.title {
        font-weight: bold; }
      .events-list li .event .image {
        width: 100px; }
      .events-list li .event .actions {
        background-color: #dedee8;
        margin-top: 10px;
        margin-bottom: 0px;
        margin-left: 20px;
        padding: 5px; }
        .events-list li .event .actions .button_to {
          display: inline; }
          .events-list li .event .actions .button_to div {
            display: inline; }

.tbl-events th {
  background: #336699;
  color: #ffffff;
  padding: 5px; }
.tbl-events td {
  padding: 5px;
  border: 1px solid #cccccc; }

.visible-link {
  display: inline; }

.hidden-link {
  display: none; }
