// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.events-list {
  list-style-type: none;

  li {
    margin-bottom: 20px;
    padding: 0px;

    .event {
      border: 1px solid #cccccc;
      background-color: #efeff8;
      padding: 10px 0px 0 10px;

      p {
        line-height: 1em;
        margin-bottom: 5px;
      }

      p.title {
        font-weight: bold;
      }

      .image {
        width: 100px;
      }

      .actions {
        background-color: #dedee8;
        margin-top: 10px;
        margin-bottom: 0px;
        margin-left: 20px;
        padding: 5px;

        .button_to {
          display: inline;
          div {
            display: inline;
          }
        }
      }
    }

  }
}

.tbl-events {

  th {
    background: #336699;
    color: #ffffff;
    padding: 5px;
  }

  td {
    padding: 5px;
    border: 1px solid #cccccc;
  }

}

.visible-link {
  display: inline;
}

.hidden-link {
  display: none;
}