<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <fieldset>
      <legend><%= t(:registration_general_fields) %></legend>

      <div>
        <%= f.label :email %>
        <%= f.email_field :email, :autofocus => true %>
      </div>

      <div>
        <%= f.label :username %>
        <%= f.text_field :username %>
      </div>

      <div>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>

      <div>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </div>    </fieldset>

    <fieldset>
      <legend><%= t(:registration_extra_fields) %></legend>

      <div class="field">
        <label for="user_type">Seleccione el tipo de usuario: </label>
        <label for="user_type_member"><input type="radio" name="user_type" id="user_type_member" value="1" checked /> Miembro</label>
        <label for="user_type_publisher"><input type="radio" name="user_type" id="user_type_publisher" value="2" /> Editor</label>
      </div>

      <div class="field">
        <%= f.label :country_select %>
        <%= collection_select nil, :country_id, @countries, :id, :name,
                              {prompt:' - '}, {id:'country_select', name:'country_id'} %>
      </div>

      <div class="field">
        <%= f.label :state_select %>
        <%= collection_select nil, :state_id, @states, :id, :name,
                              {prompt:' - '}, {id:'state_select',name:'state_id',disabled:'disabled'} %>
      </div>
      <div class="field">
        <%= f.label :city_select %>
        <%= collection_select nil, :city_id, @cities, :id, :name,
                              {prompt:' - '}, {id:'city_select',name:'user[city_id]',disabled:'disabled'} %>
      </div>
    </fieldset>

    <div>
      <%= f.submit 'Sign up' %>
    </div>

<% end %>

<%= render 'devise/shared/links' %>

<script>
    $(document).ready(function() {

        $('#country_select').change(function() {
            $.ajax({
                url: "<%= update_states_path %>",
                data: {
                    country_id: $('#country_select').val()
                },
                dataType: 'script'
            });
            $('#state_select').removeAttr('disabled');
        });
        $('#state_select').change(function() {
            $.ajax({
                url: "<%= update_cities_path %>",
                data: {
                    state_id: $('#state_select').val()
                },
                dataType: 'script'
            });
            $('#city_select').removeAttr('disabled');
        });
    });
</script>